---
import logo from "../images/logo.png";
import account_icon from "../images/account.png";
import exit_icon from "../images/Vector.png";
import login from "../pages/login.astro";
---

<!doctype html>
<html lang="en" class="bg-background">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title> Medsupply </title>
  </head>
  <nav>
    <div class="flex bg-navgreen w-full">
      <img src={logo.src} class="w-3/12" />

      <div
        class="justify-start my-6 text-sky-500 font-semibold text-3xl"
        style="color:white"
      >
        <a href="#" class="mx-4 text-center"> Authorized Distributors </a>
      </div>
      <div class="ml-[32vw] flex justify-end my-3">
        <a class="inline mx-10" href="/login"><img src={account_icon.src} class="w-16 h-16" /></a>
        <a class="inline mx-10" href="#"><img src={exit_icon.src} class="w-16 h-16" /></a>
      </div>
    </div>
  </nav>


  <body class="bg-background">
    <slot />
  </body>

</html>
